html, body
{
   font-family: sans-serif;
}

/******* GRID *******/

table.grid
{
    border-collapse: collapse;
    table-layout: fixed;
}

table.grid thead th
{
    background: #444;
    color: #fff;
    text-align: left;
    padding: 1em 0.5em 0;
}

table.grid thead th.sortable
{
    cursor: pointer;
}

table.grid thead th.sort-ascending::after  { content: "\f077"; font-family: FontAwesome; margin-left: 5px; color: #bbb; }
table.grid thead th.sort-descending::after { content: "\f078"; font-family: FontAwesome; margin-left: 5px; color: #bbb; }

table.grid tbody td
{
    padding: 0 0.5em;
}

table.grid tbody tr
{
    background-color: transparent;
    transition: background-color 600ms linear;
}

table.grid th.numeric,
table.grid td.numeric { text-align: right; }

table.grid th.centered,
table.grid td.centered { text-align: center; }

/******* HIGHLIGHTING *******/

table.grid tr.highlight-delta
{
    background-color: #ffff83 !important;
    transition: background-color 0ms linear;
}

/******* COLUMN TYPES *******/

table.grid tbody div.bar
{
    background: red;
    height: 1em;
}

/******* COLUMN INSTANCES *******/

table.grid th.fill-percent { text-align: center; }
table.grid td.fill-percent div.bar { height: 1em; }

table.grid th.flag { width: 16px; }

table.grid th.side { width: 80px; text-align: center; }
table.grid td.side.buy { text-align: center; background: #2980b9; color: white; }
table.grid td.side.sell { text-align: center; background: #e74c3c; color: white; }

table.grid tr.order-unsent    { background-color: #bdc3c7; }
table.grid tr.order-new       { background-color: #3498db; }
table.grid tr.order-rejected  { background-color: #c0392b; }
table.grid tr.order-partial   { background-color: #27ae60; }
table.grid tr.order-filled    { background-color: #2ecc71; }
